.vscode
autostart
Code - OSS
discord
Epic
chromium
easyeffects
Electron
font-manager
cef_user_data
fontconfig
galculator
glib-2.0
heroic
htop
ibus
Kitware
lazygit
libreoffice
lsp-plugins
menus
mpd
ncmpcpp
nvim
obs-studio
pavucontrol-qt
procps
pulse
QtProject
session
transmission
transmission-daemon
vlc
wofi
xarchiver
yay
birdtray-config.json
QtProject.conf
zoom.conf
zoomus.conf
