.vscode
autostart
Code - OSS
discord
Epic
chromium
easyeffects
Electron
font-manager
cef_user_data
fontconfig
galculator
glib-2.0
heroic
htop
ibus
Kitware
lazygit
libreoffice
lsp-plugins
menus
mpd
ncmpcpp
nvim
obs-studio
pavucontrol-qt
procps
pulse
QtProject
session
transmission
transmission-daemon
vlc
wofi
xarchiver
yay
birdtray-config.json
QtProject.conf
zoom.conf
zoomus.conf
xfce4
node_modules/
dconf
# nemo/bookmark-metadata
# gtk-3.0/bookmarks
obsidian
simple-update-notifier
unity3d
*.log
GIMP
enchant
geeqie
kritarc
kritadisplayrc
awakened-poe-trade
btop/btop.conf
WebCord
blender
btop
CurseForge
flutter/tool_state
go
fvm
qv2ray
rncbc.org
v2raya
whoozle.github.io
yarn
btop/btop.conf
Code
VSCodium
calibre
TabNine
exiled-exchange-2
evolution
fcitx5
remmina
rustdesk
tigervnc