@import "colors.css";

/* Общие стили */
* {
  border: none;
  border-radius: 0;
  font-family: HackNerdFont;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: @base-bg;
  color: @base-text;
  transition: background-color 0.3s;
}

/* Рабочие пространства */
#workspaces button {
  padding: 0 8px;
  background: transparent;
  color: @base-text;
  border-bottom: 2px solid transparent;
}

#workspaces button.active,
#workspaces button.focused {
  background: @panel-bg;
  border-bottom-color: @focus;
}

#workspaces button.urgent {
  background: @critical;
  color: @base-bg;
}

/* Системные модули (CPU, RAM, батарея) */
#cpu {
  background: @panel-bg;
  color: @pink;
  padding: 0 10px;
}

#memory {
  background: @panel-bg;
  color: @purple;
  padding: 0 10px;
}

#battery {
  background: @panel-bg;
  padding: 0 10px;
}

#battery.charging {
  color: @green;
}

#battery.critical:not(.charging) {
  background: @critical;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  to {
    opacity: 0.5;
  }
}

/* Сеть и звук */
#network {
  background: @panel-bg;
  color: @blue;
  padding: 0 10px;
}

#network.disconnected {
  color: @critical;
}

#pulseaudio {
  background: @panel-bg;
  color: @teal;
  padding: 0 10px;
}

#pulseaudio.muted {
  color: @inactive;
}

/* Часы */
#clock {
  background: @panel-bg;
  color: @green;
  padding: 0 12px;
  font-weight: bold;
}

/* Трей и кастомные элементы */
#tray {
  background: @panel-bg;
  padding: 0 10px;
}

#custom-power {
  color: @critical;
  padding: 0 10px;
}

#bluetooth {
  color: #0183fc;
  padding: 0 10px;
}

#idle_inhibitor {
  background: @panel-bg;
  padding: 0 10px;
}

#idle_inhibitor.activated {
  color: @yellow;
}

#custom-gpu-usage {
  padding: 0 10px;
  color: @green;
}

#custom-spotify {
  padding-left: 10px;
  color: #1ed662;
}

#temperature,
#temperature {
  padding: 0 10px;
}

#temperature.cpu {
  padding-left: 0;
  color: @pink;
}

#temperature.gpu {
  padding-left: 0;
  color: @green;
}

#temperature.critical {
  color: @critical;
}

#custom-logo {
  color: #168fcb;
}

#custom-gpu-usage,
#bluetooth,
#tray,
#mpd,
#custom-weather,
#temperature,
#memory,
#sway-mode,
#backlight,
#pulseaudio,
#custom-vpn,
#disk,
#custom-recorder,
#custom-audiorec,
#battery,
#clock,
#network,
#custom-power,
#custom-spotify,
#hyprland-language {
  background: @panel-bg;
}
